<h1>Add a new pirate</h1>

<form method="POST" action="/pirates">
  <div>
    <label for="name">name: </label>
    <input type="text" name="name"></input>
  </div>

  <div>
    <label for="birthplace">birthplace: </label>
    <input type="text" name="birthplace"></input>
  </div>

  <div>
    <label for="death_year">death_year: </label>
    <input type="text" name="death_year"></input>
  </div>

  <div>
    <label for="base">base: </label>
    <input type="text" name="base"></input>
  </div>

  <div>
    <label for="nickname">nickname: </label>
    <input type="text" name="nickname"></input>
  </div>

  <button>Submit</button>
</form>

<br/><br/>
<a href="/pirates">Go Back</a>
